<settings>
    <setting id="AutomaticStart" value="0" />
    <setting id="srv1_enable" value="true" />
    <setting id="srv1_login" value="sacha" />
    <setting id="srv1_name" value="ntv" />
    <setting id="srv1_pass" value="****" />
    <setting id="srv1_port" value="11220" />
    <setting id="srv1_server" value="vipro" />
    <setting id="srv1_type" value="newcamd525" />
    <setting id="srv2_enable" value="true" />
    <setting id="srv2_login" value="masha" />
    <setting id="srv2_name" value="tricolor" />
    <setting id="srv2_pass" value="****" />
    <setting id="srv2_port" value="23321" />
    <setting id="srv2_server" value="192168" />
    <setting id="srv2_type" value="newcamd525" />
    <setting id="srv3_enable" value="true" />
    <setting id="srv3_login" value="sacha" />
    <setting id="srv3_name" value="ntv" />
    <setting id="srv3_pass" value="****" />
    <setting id="srv3_port" value="11220" />
    <setting id="srv3_server" value="vipro" />
    <setting id="srv3_type" value="newcamd525" />
    <setting id="srv4_enable" value="true" />
    <setting id="srv4_login" value="sacha" />
    <setting id="srv4_name" value="ntv" />
    <setting id="srv4_pass" value="****" />
    <setting id="srv4_port" value="11220" />
    <setting id="srv4_server" value="vipro" />
    <setting id="srv4_type" value="newcamd525" />
    <setting id="srv5_enable" value="true" />
    <setting id="srv5_login" value="sacha" />
    <setting id="srv5_name" value="ntv" />
    <setting id="srv5_pass" value="****" />
    <setting id="srv5_port" value="11220" />
    <setting id="srv5_server" value="vipro" />
    <setting id="srv5_type" value="newcamd525" />
    <setting id="srv6_enable" value="true" />
    <setting id="srv6_login" value="sacha" />
    <setting id="srv6_name" value="ntv" />
    <setting id="srv6_pass" value="****" />
    <setting id="srv6_port" value="11220" />
    <setting id="srv6_server" value="vipro" />
    <setting id="srv6_type" value="newcamd525" />
</settings>
